body * {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaa;
  color: #fff;
}

.main {
  width: 100%;
  padding: 50px;
  background-color: #eee;
  min-height: 80vh;

  &__product-container {
    max-width: 1024px;
    margin: 0 auto;
  }
}

.footer {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  &__new {
    font-size: 10px;
    color: goldenrod;
    letter-spacing: 1px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px #ddd;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__price {
    font-weight: bold;
    margin-top: 5px;
  }

  &__images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
  }

  &__image {
    opacity: 0;
    max-width: 226px;
    margin-bottom: 10px;
    transition: opacity 0.25s ease;
    &:first-child {
      position: relative;
      top: 0;
      left: 0;
    }
    &:nth-child(2) {
      position: absolute;
    }
    &--active {
      opacity: 1;
    }
  }
}

.colours {
  &__wrapper {
    display: flex;
    margin-top: 5px;
  }

  &__colour {
    width: 20px;
    height: 20px;
    border-radius: 999px;
    border: 1px solid #fff;
    box-shadow: 0 0 0 1.5px #ddd;
    margin-right: 5px;

    &--active {
      box-shadow: 0 0 0 1px rgb(82, 192, 255);
    }

    &--last-child {
      margin: 0;
    }

    &--space-gray {
      background-color: gray;
    }

    &--silver {
      background-color: silver;
    }
  }
}

.login-container {
  position: absolute;
  top: 3px;
  right: 3px;
}

.checkbox {
  &__wrapper {
    margin-top: 5px;
    display: flex;
    align-items: center;
  }
}

.label {
  &__wrapper {
    display: flex;
    align-items: center;
  }
}

input[type="checkbox"] {
  margin-right: 5px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
